<template>
  <div>
    <div class="q-pa-md" v-if="showTracks">
      <div class="row">
        <div class="col">
          <q-input outlined bottom-slots v-model="text" dense>
            <template v-slot:append>
              <q-icon v-if="text !== ''" name="close" @click="text = ''" class="cursor-pointer" />
              <q-icon name="search" />
            </template>
          </q-input>
        </div>
      </div>
      <div class="row">
        <div class="text-subtitle1">Resultados</div>
      </div>
      <div class="row" v-if="tracks">
        <q-list>
          <ItemMusic
            v-for="track in tracks"
            :key="track.id"
            :track="track"
            @detail-track="detailTrack"
          ></ItemMusic>
        </q-list>
      </div>
    </div>
    <div class="q-pa-md" v-if="detailsTrack">
      <MusicPlayer :track="track"></MusicPlayer>
    </div>
  </div>
</template>

<script>
import ItemMusic from "components/ItemMusic";
import MusicPlayer from "components/MusicPlayer";
export default {
  components: {
    ItemMusic, MusicPlayer
  },
  data() {
    return {
      editor: "",
      text: "",
      errors: {},
      tracks: {},
      track: {},
      showTracks: true,
      detailsTrack: false
    };
  },
  methods: {
    detailTrack(t) {
      this.track = t;
      this.showTracks = false;
      this.detailsTrack = true;
    },
    search() {
      this.$axios({
        method: "get",
        url: "https://platzi-music-api.now.sh/search",
        params: {
          q: this.text,
          type: "track"
        }
      })
        .then(response => {
          this.tracks = response.data.tracks.items;
        })
        .catch(error => {
          console.log(error);
          return;
        });
    }
  },
  watch: {
    text(newValue) {
      if (newValue.length > 3) {
        this.search();
      }
    }
  },
  computed: {}
};
</script>
