<template>
  <div>
    <q-item clickable v-ripple @click="detailTrack(track)">
      <q-item-section avatar>
        <q-avatar rounded>
          <img :src="track.album.images[2].url" />
        </q-avatar>
      </q-item-section>
      <q-item-section>
        <q-item-label  lines="2">{{ track.name }}</q-item-label>
        <q-item-label caption lines="2">{{ track.album.artists[0].name }}</q-item-label>
      </q-item-section>

      <!-- <q-item-section side top>
        <q-btn flat icon="play_arrow"></q-btn>
      </q-item-section> -->
    </q-item>
    <q-separator spaced inset />
  </div>
</template>

<script>
export default {
  name: "ItemMusic",
  props: {
    track: {
      type: Object
    }
  },
  data() {
    return {};
  },
  methods: {
    detailTrack(track) {
      this.$emit('detail-track', track)
    }
  },
};
</script>
