<template>
  <div>
    <div class="row">
      <div class="col">
        <q-img :src="track.album.images[0].url" :ratio="1" />
      </div>
    </div>
    <div class="row justify-center">
      <div class="col-auto q-pa-md">
        <div class="text-subtitle1">{{ track.name }}</div>
        <div class="text-subititle2">{{ track.album.artists[0].name }}</div>
      </div>
    </div>
    <div class="row justify-center items-center content-center">
      <div class="col-1 text-right">
        <label class="text-caption">00:00</label>
      </div>
      <div class="col-10">
        <q-linear-progress :value="0.5" :buffer="0.5" />
      </div>
      <div class="col-1">
        <label class="text-caption">{{ convertMsToMm() }}</label>
      </div>
    </div>
    <div class="row justify-center">
      <div class="col-auto q-pa-md">
        <q-btn-group flat>
          <q-btn flat icon="fast_rewind"></q-btn>
          <q-btn flat icon="pause" v-if="play" @click="audioStop"></q-btn>
          <q-btn flat icon="play_arrow" @click="audioPlay" v-else></q-btn>
          <q-btn flat icon="fast_forward"></q-btn>
        </q-btn-group>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  props: {
    track: {
      type: Object
    }
  },
  data() {
    return {
      progress: 0.01,
      buffer: 0.01,
      play: false,
      audio: ""
    };
  },
  methods: {
    audioStop() {
      this.audio.pause();
      this.play = false;
    },
    audioPlay() {
      this.audio.play();
      this.play = true;
    },
    convertMsToMm() {
      const min = Math.floor(this.track.duration_ms / 60000);
      const sec = ((this.track.duration_ms % 60000) / 1000).toFixed(0);
      return `${min}:${sec}`;
    }
  }
};
</script>
